[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "==3.11.2"
psycopg2 = "==2.8.5"
django-filter = "==2.3.0"
asgiref = "==3.2.10"
pytz = "==2020.1"
sqlparse = "==0.3.1"
Django = "==2.2.10"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
